{% extends "base.html" %}
{% load static %}
{% block page_css %}
<link rel="stylesheet" href="{% static 'css/archive-service.css' %}">
{% endblock %}
{% block page_content %}
    <div class="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-1"></div>
                <div class="col-xs-12 col-sm-10">
                    <h1>SERVICIOS</h1>
                </div>
                <div class="col-xs-12 col-sm-1"></div>
            </div>
        </div>
    </div>
    <div class="custom-wrapper background-color-white archive-service-wrapper">
        {% for service in services %}
            <div class="item" style="background-color: {{ service.service_background_color }}">
                <div class="decor-top">
                    <svg class="decor background-fill-white" style="fill: {{ service.service_background_color }}" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
                    </svg>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    <div class="container right">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2"></div>
                            <div class="col-xs-12 col-sm-3">
                                <img src="{{ service.service_icon }}">
                            </div>
                            <div class="col-xs-12 col-sm-5">
                                <h2>{{ service.service_title }}</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                <a class="more-button button-effect" href="{{ service.get_absolute_url }}">Ver</a>
                            </div>
                            <div class="col-xs-12 col-sm-2"></div>
                        </div>
                    </div>
                {% else %}
                    <div class="container left">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2"></div>
                            <div class="col-xs-12 col-sm-5">
                                <h2>{{ service.service_title }}</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                <a class="more-button button-effect" href="{{ service.get_absolute_url }}">Ver</a>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <img src="{{ service.service_icon }}">
                            </div>
                            <div class="col-xs-12 col-sm-2"></div>
                        </div>
                    </div>
                {% endif %}
                <div class="decor-bottom">
                    <svg class="decor background-fill-white" style="fill: {{ service.service_background_color }}" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0 L100 0 L100 100" stroke-width="0"></path>
                    </svg>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
