.header-wrapper {
    background-position: center;
    background-repeat: no-repeat;
}

.header-wrapper #map {
    height: 400px;
    position: absolute;
    top: -120px;
    width: 100%;
}

.thankyou-wrapper {
    padding-bottom: 0px;
    padding-top: 60px;
}

.thankyou-wrapper .decor-top {
    position: absolute;
}

.thankyou-wrapper .content {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
