body {
    font-family: 'Roboto', sans-serif;
    background: #666;
}

.menu-wrapper {
    background-color: rgb(27, 130, 204, 0.9);
    box-shadow: 0 0 2px rgba(0,0,0,.14), 0 2px 3px rgba(0,0,0,.18);
    height: 70px;
    left: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.menu-wrapper .menu-options {
    position: relative;
}

.menu-wrapper .menu-options .logo {
    height: 100%;
    position: relative;
}

.menu-wrapper .menu-options .home-wrapper label {
    color: #efefef;
    cursor: pointer;
    font-size: 24px;
    font-weight: 100;
    line-height: 24px;
    padding-top: 2px;
    vertical-align: middle;
    width: 170px;
    word-wrap: break-word;
}

.menu-wrapper .menu-options {
    display: flex;
}

.menu-wrapper .menu-options .home-wrapper {
    flex-grow: 4;
    text-decoration: none;
}

.menu-wrapper .menu-options .option {
    align-self: center;
    color: #efefef;
    flex-grow: 1;
    font-size: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
}

.menu-wrapper .menu-options .option:before {
    content: "[";
    position: absolute;
    color: transparent;
    top: 0;
    bottom: 0;
    left: 15px;
    font-size: 20px;
    line-height: 20px;
    transition-duration: 200ms;
}

.menu-wrapper .menu-options .option:after {
    content: "]";
    position: absolute;
    color: transparent;
    top: 0;
    bottom: 0;
    right: 15px;
    font-size: 20px;
    line-height: 20px;
    transition-duration: 200ms;
}

.menu-wrapper .menu-options .option:hover:before, .menu-wrapper .menu-options .option:hover:after {
    color: #efefef;
}

.menu-wrapper .menu-options .menu-mobile {
    align-self: center;
    cursor: pointer;
    display: none;
    height: 38px;
}


.mobile-menu-wrapper {
    background-color: #1b82cc;
    bottom: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    height: 100%;
    padding: 20px;
    position: fixed;
    right: -100%;
    top: 0;
    transition-duration: 200ms;
    width: 200px;
    z-index: 11;
}

.mobile-menu-wrapper.visible {
    right: 0;
}

.mobile-menu-wrapper .menu-mobile {
    cursor: pointer;
    height: 38px;
    position: absolute;
    right: -125px;
    right: 15px;
    top: 20px;
}

.mobile-menu-wrapper .home-wrapper label {
    color: #efefef;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 4px;
    max-width: 100px;
    position: relative;
}

.mobile-menu-wrapper .option {
    color: #efefef;
    display: block;
    font-size: 16px;
    line-height: 18px;
    margin-top: 15px;
    text-decoration: none;
    width: 100%;
}


.custom-wrapper {
    padding-bottom: 120px;
    position: relative;
}

.decor-top {
    height: 60px;
    left: 0;
    position: relative;
    top: -60px;
    width: 100%;
}

.decor-into-top {
    height: 60px;
    left: 0;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.decor-top .decor {
    stroke: #fff;
}

.decor-bottom {
    bottom: -60px;
    height: 60px;
    left: 0;
    position: relative;
    width: 100%;
}

.decor-bottom .decor {
    stroke: #fff;
}

.background-fill-blue {
    fill: #1b82cc;
}

.background-color-blue {
    background-color: #1b82cc;
}

.background-fill-white {
    fill: #f6f6f6;
}

.background-color-white {
    background-color: #f6f6f6;
}


.footer-wrapper {
    /* background-image: url(/static/img/footer-bkg.png); */
    background-position: center;
    position: relative;
    padding-top: 100px;
    background-size: cover;
}

.footer-wrapper .cover {
    /* background-color: rgb(27, 130, 204, 0.7); */
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.footer-wrapper .container {
    position: relative;
    z-index: 1;
}

.footer-wrapper .home-wrapper {
    position: relative;
    text-align: center;
    top: 50px;
}

.footer-wrapper .home-wrapper .logo {
    max-width: 60px;
}

.footer-wrapper .home-wrapper label {
    color: #efefef;
    cursor: pointer;
    font-size: 24px;
    font-weight: 100;
    line-height: 24px;
    padding-top: 2px;
    text-align: left;
    vertical-align: middle;
    width: 115px;
    word-wrap: break-word;
}

.footer-wrapper .option {
    color: #efefef;
    display: block;
    flex-grow: 1;
    font-size: 16px;
    margin-top: 15px;
    position: relative;
    text-decoration: none;
    transition-duration: 200ms;
    font-weight: 300;
}

.footer-wrapper .option:hover {
    color: #efefef;
}

.footer-wrapper .social-icon img {
    display: block;
    max-width: 45px;
}

.footer-wrapper .title {
    color: #efefef;
    font-size: 24px;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
}

.footer-wrapper .phone {
    color: #efefef;
    display: block;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-wrapper .reserved {
    color: #efefef;
    font-size: 12px;
    font-weight: 600;
    margin-top: 15px;
    margin-top: 30px;
    text-align: center;
}


.button-effect {
    background-color: black;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: white !important;
    display: block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 30px auto auto auto;
    max-width: 150px;
    overflow: hidden;
    padding: 4px 10px 4px 10px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
}

.button-effect:after {
    content: "";
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.25);
    transition-duration: 200ms;
    overflow: hidden;
}

.button-effect:hover:after {
    width: 100%
}

.over-footer {
    position: relative;
    z-index: 2;
}


.archive-pagination {
    display: flex;
    margin-top: 60px;
}

.archive-pagination ul {
    display: inline-flex;
    list-style: none;
    margin: auto;
    padding: 0;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.archive-pagination li {
    align-self: center;
    background-color: #1b82cc;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
}

.archive-pagination li:after {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0;
    content: "";
    cursor: pointer;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 200ms;
    width: 100%;
}

.archive-pagination li span {
    color: white;
    line-height: 0px;
    line-height: inherit;
    padding: 0px 15px 0px 15px;
}

.archive-pagination li.active {
    display: flex;
    line-height: 30px;
}

.archive-pagination li a {
    color: white;
    height: 30px;
    line-height: 0px;
    line-height: inherit;
    padding: 15px;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.archive-pagination li:hover:after, .archive-pagination li.active:after {
    background-color: rgba(255, 255, 255, 0.3);
}

.archive-pagination li:first-child:before {
    background-color: #f6f6f6;
    content: "";
    height: 20px;
    left: -25px;
    position: absolute;
    top: 4px;
    transform: rotate(-75deg);
    width: 40px;
    z-index: 2;
}

.archive-pagination li:last-child:before {
    background-color: #f6f6f6;
    content: "";
    height: 20px;
    position: absolute;
    right: -25px;
    top: 4px;
    transform: rotate(75deg);
    width: 40px;
    z-index: 2;
}


.header-wrapper {
    height: 350px;
    background-color: #1b82cc;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.header-wrapper .container {
    margin-top: 120px;
}

.header-wrapper .container h1 {
    color: white;
    font-size: 40px;
    font-weight: 300;
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    z-index: 1;
    position: relative;
}

.header-wrapper:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255, 0.2);
    background-image: url(/static/img/texture-bkg.png);
}



.social-share-title {
    border-top: 3px solid #1b82cc;
    display: block;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 60px;
    padding-top: 60px;
    text-align: center;
}

.social-buttons-wrapper {
    display: flex;
    margin: 30px auto auto auto;
    position: relative;
    width: 300px;
}

.social-buttons-wrapper .button {
    background-image: url(/static/img/social-icons.png);
    cursor: pointer;
    height: 50px;
    margin-left: 4px;
    margin-right: 4px;
    width: 53px;
}

.social-buttons-wrapper .share-fb {
    background-position: -1px;
}

.social-buttons-wrapper .share-gp {
    background-position: -53px;
}

.social-buttons-wrapper .share-tw {
    background-position: -104px;
}

.social-buttons-wrapper .share-wa {
    background-position: -155px;
}

.social-buttons-wrapper .share-t {
    background-position: -208px;
}


@media all and (max-width: 768px) {
    .menu-wrapper .menu-options .option {
        display: none;
    }

    .menu-wrapper .menu-options .menu-mobile {
        display: block;
    }

    .footer-wrapper .home-wrapper {
        display: block;
        text-align: center;
        top: auto;
    }

    .footer-wrapper .option {
        text-align: center;
    }

    .footer-wrapper .social-icon img {
        margin: 20px auto auto auto;
    }
}
