.slider-wrapper {
    background-image: url(/static/img/bkg-slider.gif);
    background-position: center;
    background-size: contain;
    height: 500px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.slider-wrapper .container{
    padding-top: 100px;
}

.slider-wrapper .slider-bkg-color {
    background-color: rgb(27, 130, 204, 0.8);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.slider-wrapper #slides {
    height: 300px !important;
}

.slider-wrapper #slides .slides-container .icon {
    left: auto !important;
    max-height: 300px !important;
    max-width: 300px !important;
    padding: 10px !important;
    position: relative !important;
    top: auto !important;
}

.slider-wrapper #slides .slides-container h2 {
    font-size: 50px;
    color: black;
}

.slider-wrapper #slides .slides-container p {
    color: #222;
    font-size: 25px;
    font-weight: 300;
}

.slider-wrapper #slides .slides-pagination a {
    margin-left: 4px;
    margin-right: 4px;
    width: 15px;
    height: 15px;
}


.technologies-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}


@media all and (max-width: 768px) {
    .slider-wrapper #slides .slides-container .icon {
        max-width: 100px !important;
        max-height: 100px !important;
        margin: auto !important;
        display: block !important;
    }

    .slider-wrapper #slides .slides-container h2 {
        font-size: 32px;
        text-align: center;
    }

    .slider-wrapper #slides .slides-container p {
        font-size: 20px;
        text-align: center;
    }
}
