.slider-wrapper {
    background-image: url(/static/img/bkg-slider.gif);
    background-position: bottom;
    background-size: contain;
    height: 450px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.slider-wrapper .slider-bkg-color {
    background-color: rgba(36, 169, 225, 0.9);
    /* background-image: url(/static/img/texture-bkg.png); */
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.slider-wrapper #slides {
    height: 400px !important;
    margin-top: 100px !important;
}

.slider-wrapper #slides .slides-container .icon {
    height: auto !important;
    left: auto !important;
    max-height: 300px !important;
    max-width: 300px !important;
    padding: 10px !important;
    position: relative !important;
    top: auto !important;
    width: 100% !important;
    display: block;
    margin: auto;
}

.slider-wrapper #slides .slides-container h2 {
    font-size: 50px;
    color: black;
}

.slider-wrapper #slides .slides-container p {
    color: black;
    font-size: 25px;
    font-weight: 400;
}

.slider-wrapper #slides .slides-container .left {
    flex-grow: 0;
    padding: 15px;
}

.slider-wrapper #slides .slides-container .right {
    flex-grow: 1;
    padding: 15px;
}

.slider-wrapper #slides .slides-pagination {
    margin-top: 60px;
}

.slider-wrapper #slides .slides-pagination a {
    margin-left: 4px;
    margin-right: 4px;
    width: 15px;
    height: 15px;
    border: 2px solid black !important;
}

.slides-pagination a.current {
    background: black !important;
}


.blog-wrapper {
    padding-bottom: 60px;
}

.blog-wrapper a {
    text-decoration: none;
}

.blog-wrapper h2 {
    color: black;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 0px;
    position: relative;
    text-align: center;
}

.blog-wrapper .description {
    font-size: 18px;
    text-align: center;
    color: #666;
    margin-bottom: 30px;
    font-weight: 400;
}

.blog-wrapper .more-button {
    background-color: #21a9f0 !important;
}

.blog-wrapper .item {
    position: relative;
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    cursor: pointer;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 10px 10px 20px 20px;
    border-radius: 5px;
}

.blog-wrapper .item .image {
    max-width: 100%;
}

.blog-wrapper .item .cover {
    background-color: white;
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    z-index: 1;
    transition-duration: 200ms;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    padding: 20px;
}

.blog-wrapper .item:hover .cover {
    background-color: #21a9f0;
}

.blog-wrapper .item:hover .cover h3 {
    color: white;
}

.blog-wrapper .item:hover .cover p {
    color: white;
}

.blog-wrapper .item .cover h3 {
    color: #888;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.blog-wrapper .item .cover p {
    color: #888;
    font-size: 15px;
    line-height: 17px;
    margin-top: 20px;
    text-align: center;
}


.banner-wrapper {
    background-image: url(/static/img/nosotros-banner.png);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: contain;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.banner-wrapper .banner-bkg-color {
    background-color: rgb(255, 255, 255, 0.2);
    background-image: url(/static/img/texture-bkg.png);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.banner-wrapper .container {
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

.banner-wrapper h2 {
    color: white;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
}

.banner-wrapper p {
    color: white;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
}


.project-wrapper {
    position: relative;
    padding-bottom: 60px;
}

.project-wrapper h2 {
    color: black;
    font-size: 40px;
    font-weight: 300;
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 0px;
}

.project-wrapper .description {
    font-size: 18px;
    text-align: center;
    color: #666;
    margin-bottom: 30px;
    font-weight: 400;
}

.project-wrapper .item {
    position: relative;
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    cursor: pointer;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 10px 10px 20px 20px;
    border-radius: 5px;
}

.project-wrapper .item .image {
    max-width: 100%;
}

.project-wrapper .item .cover {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition-duration: 200ms;
}

.project-wrapper .item .cover h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.project-wrapper .item .cover h3, .project-wrapper .item .cover p {
    color: #ddd;
}

.project-wrapper .item:hover .cover {
    background-color: rgba(33, 169, 240, 0.9);
}

.project-wrapper .more-button {
    background-color: #21a9f0 !important;
}


.services-wrapper {
    position: relative;
    padding-bottom: 0px;
}

.services-wrapper h2 {
    color: black;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 0px;
    position: relative;
    text-align: center;
}

.services-wrapper .description {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}

.services-wrapper a {
    text-decoration: none;
}

.services-wrapper .item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 30px;
    margin-top: 10px;
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.services-wrapper .item:after {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 200ms;
    width: 100%;
    z-index: 0;
}

.services-wrapper .item:hover:after {
    background-color: #21a9f0;
}

.services-wrapper .item .content {
    z-index: 1;
    position: relative;
}

.services-wrapper .item h3 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 10px;
    text-align: left;
    text-transform: uppercase;
}

.services-wrapper .item p {
    color: #333;
    font-size: 16px;
    line-height: 17px;
    margin-top: 20px;
}

.services-wrapper .item img {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: -10%;
    top: 0;
    z-index: 0;
    max-width: 50%
}

.services-wrapper .item .content {
    position: relative;
    z-index: 2;
}

.services-wrapper .more-button {
    background-color: #21a9f0 !important;
}

.tools-bkg {
    background-image: url(/static/img/tools-bkg.png)
}


@media all and (max-width: 768px) {
    .slider-wrapper #slides .slides-container .icon {
        display: block !important;
        margin: auto !important;
        max-height: 100px !important;
        max-width: 100px !important;
    }

    .slider-wrapper #slides .slides-container h2 {
        font-size: 32px;
        text-align: center;
    }

    .slider-wrapper #slides .slides-container p {
        font-size: 20px;
        text-align: center;
    }
}
