.header-wrapper {
    background-image: url(/static/img/blog-bkg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.single-blog-wrapper {
    padding-bottom: 0px;
    padding-top: 60px;
}

.single-blog-wrapper .decor-top {
    position: absolute;
}
