<html lang="en">
    <head>
        {% block title %}<title>REACTIVE WEB</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,400i,500,700" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        {% load static %}
        <script src="{% static 'js/global.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <script src="http://localhost:35729/livereload.js"></script>
        {% block page_css %}
        {% endblock %}
        {% block page_js %}
        {% endblock %}
    </head>
    <body>
        <div class="page-wrapper">
            {% block page_header %}
                <div class="menu-wrapper">
                    <div class="container">
                        <div class="menu-options">
                            <a href="#" class="home-wrapper">
                                <img class="logo" src="{% static 'img/rw-icon.png' %}">
                                <label>REACTIVE WEB</label>
                            </a>
                            <a class="option" href="#">PROYECTOS</a>
                            <a class="option" href="#">SERVICIOS</a>
                            <a class="option" href="#">QUIÉNES SOMOS</a>
                            <a class="option" href="#">BLOG</a>
                            <a class="option" href="#">CONTACTO</a>
                            <img class="menu-mobile" onClick="openMenuMobile(this)" src="{% static 'img/menu-icon.png' %}">
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block page_content %}
            {% endblock %}
            <div class="footer-wrapper background-color-blue">
                <div class="flex-container">
                    <div class="left">
                        <a href="#" class="home-wrapper">
                            <img class="logo" src="{% static 'img/rw-icon.png' %}">
                            <label>REACTIVE WEB</label>
                        </a>
                    </div>
                    <div class="mid">
                        <a class="option" href="#">PROYECTOS</a>
                        <a class="option" href="#">SERVICIOS</a>
                        <a class="option" href="#">QUIÉNES SOMOS</a>
                        <a class="option" href="#">BLOG</a>
                    </div>
                    <div class="mid">
                        <a class="option" href="#">CONTACTO</a>
                        <a class="option" href="#">AVISO DE PRIVACIDAD</a>
                        <a class="option" href="#">TERMINOS Y CONDICIONES</a>
                    </div>
                    <div class="right">
                        <a class="social-icon" href="#">
                            <img src="{% static 'img/gp-icon.png' %}">
                        </a>
                        <a class="social-icon" href="#">
                            <img src="{% static 'img/fb-icon.png' %}">
                        </a>
                        <a class="social-icon" href="#">
                            <img src="{% static 'img/tw-icon.png' %}">
                        </a>
                    </div>
                </div>
                <div class="container">
                    <div class="max-width-720">
                        <h4 class="title">COMUNÍCATE Y HAGAMOS EQUIPO.</h4>
                        <a href="tel:4431049977" class="phone">443-1049977</a>
                    </div>
                </div>
                <div class="container">
                    <div class="max-width-720">
                        <p class="reserved">REACTIVE WEB 2018 TODOS LOS DERECHOS RESERVADOS</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu-wrapper">
            <a href="#" class="home-wrapper">
                <label>REACTIVE WEB</label>
            </a>
            <img class="menu-mobile" onClick="openMenuMobile(this)" src="{% static 'img/menu-icon.png' %}">
            <a class="option" href="#">PROYECTOS</a>
            <a class="option" href="#">SERVICIOS</a>
            <a class="option" href="#">QUIÉNES SOMOS</a>
            <a class="option" href="#">BLOG</a>
            <a class="option" href="#">CONTACTO</a>
        </div>
    </body>
</html>
