<html lang="en">
    <head>
        {% block title %}<title>REACTIVE WEB</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,400i,500,700" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% load static %}
        <script src="{% static 'js/global.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <script src="http://localhost:35729/livereload.js"></script>
        {% block page_css %}
        {% endblock %}
        {% block page_js %}
        {% endblock %}
    </head>
    <body>
        <div class="page-wrapper">
            {% block page_header %}
                <div class="menu-wrapper">
                    <div class="container">
                        <div class="menu-options">
                            <a href="#" class="home-wrapper">
                                <img class="logo" src="{% static 'img/rs-icon.png' %}">
                                <label>REACTIVE SOLUTION</label>
                            </a>
                            <a class="option" href="#">PROYECTOS</a>
                            <a class="option" href="#">SERVICIOS</a>
                            <a class="option" href="#">QUIÉNES SOMOS</a>
                            <a class="option" href="#">BLOG</a>
                            <a class="option" href="#">CONTACTO</a>
                            <img class="menu-mobile" onClick="openMenuMobile(this)" src="{% static 'img/menu-icon.png' %}">
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block page_content %}
            {% endblock %}
            <div class="footer-wrapper background-color-blue">
                <div class="cover"></div>
                <!-- <div class="decor-top">
                    <svg class="decor background-fill-blue" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
                    </svg>
                </div> -->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <a href="#" class="home-wrapper">
                                <img class="logo" src="{% static 'img/rs-icon.png' %}">
                                <label>REACTIVE SOLUTION</label>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <a class="option" href="#">PROYECTOS</a>
                            <a class="option" href="#">SERVICIOS</a>
                            <a class="option" href="#">QUIÉNES SOMOS</a>
                            <a class="option" href="#">BLOG</a>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <a class="option" href="#">CONTACTO</a>
                            <a class="option" href="#">AVISO DE PRIVACIDAD</a>
                            <a class="option" href="#">TERMINOS Y CONDICIONES</a>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <a class="social-icon" href="#">
                                <img src="{% static 'img/gp-icon.png' %}">
                            </a>
                            <a class="social-icon" href="#">
                                <img src="{% static 'img/fb-icon.png' %}">
                            </a>
                            <a class="social-icon" href="#">
                                <img src="{% static 'img/tw-icon.png' %}">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="title">COMUNÍCATE Y HAGAMOS EQUIPO.</h4>
                            <a href="tel:4431049977" class="phone">443-1049977</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="reserved">REACTIVE SOLUTION 2018 TODOS LOS DERECHOS RESERVADOS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu-wrapper">
            <a href="#" class="home-wrapper">
                <label>REACTIVE SOLUTION</label>
            </a>
            <img class="menu-mobile" onClick="openMenuMobile(this)" src="{% static 'img/menu-icon.png' %}">
            <a class="option" href="#">PROYECTOS</a>
            <a class="option" href="#">SERVICIOS</a>
            <a class="option" href="#">QUIÉNES SOMOS</a>
            <a class="option" href="#">BLOG</a>
            <a class="option" href="#">CONTACTO</a>
        </div>
    </body>
</html>
