{% extends "base.html" %}
{% load static %}
{% block page_css %}
<link rel="preload" as="style" href="{% static 'css/quote.css' %}" onload="this.onload=null;this.rel='stylesheet'">
{% endblock %}
{% block page_js %}
<script src="{% static 'js/share-this.js' %}" defer></script>
<script src="{% static 'js/quote.js' %}" defer></script>
{% endblock %}
{% block page_content %}
    <div class="header-wrapper" style="background-image: url({{ page.page_thumbnail }}); background-size:cover;">
        <div class="container">
            <div class="max-width-720">
                <h1>{{ page.page_title }}</h1>
            </div>
        </div>
    </div>
    <div class="custom-wrapper background-color-white quote-wrapper">
        <div class="decor-top">
            <svg class="decor background-fill-white" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container">
            <div class="max-width-720">
                <div class="center-text">{{ page.page_content | safe }}</div>
            </div>
        </div>
        <div class="container">
            <div class="max-width-720">
                <div class="accordion-wrapper">
                    <div class="item">
                        <div class="header" onClick="openContent(this)">
                            <h2>Soporte Web</h2>
                        </div>
                        <div class="content">
                            <div class="max-width-480">
                                <form action="{% url 'thankyou-page' %}" method="post" class="form-wrapper validate-support">
                                    {% csrf_token %}
                                    <input type="hidden" name="contact_type" value="Soporte Web">
                                    <div class="input-wrapper">
                                        <label>Nombre:</label>
                                        <input class="input-text name" name="contact_name" type="text">
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Email:</label>
                                        <input class="input-text email" name="contact_email" type="text">
                                    </div>
                                    <div class="input-wrapper phone-field">
                                        <label>Teléfono:</label>
                                        <input class="input-text phone" name="contact_phone" type="text">
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Sitio Web:</label>
                                        <input class="input-text url" name="contact_website" type="text">
                                    </div>
                                    <div class="input-wrapper text-field">
                                        <label>Descripción:</label>
                                        <textarea class="input-text message" name="contact_message" ></textarea>
                                    </div>
                                    <button type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header" onClick="openContent(this)">
                            <h2>Sitio Web Estático</h2>
                        </div>
                        <div class="content">
                            <div class="max-width-480">
                                <form action="{% url 'thankyou-page' %}" method="post" class="form-wrapper validate-static-web">
                                    {% csrf_token %}
                                    <input type="hidden" name="contact_type" value="Sitio Web Estático">
                                    <div class="input-wrapper">
                                        <label>Nombre:</label>
                                        <input class="input-text name" name="contact_name" type="text">
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Email:</label>
                                        <input class="input-text email" name="contact_email" type="text">
                                    </div>
                                    <div class="input-wrapper phone-field">
                                        <label>Teléfono:</label>
                                        <input class="input-text phone" name="contact_phone" type="text">
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Total de páginas:</label>
                                        <input class="input-text" name="contact_total_pages" type="number">
                                    </div>
                                    <div class="input-wrapper no-line">
                                        <label>Requiere diseño</label>
                                        <input class="input-checkbox" name="contact_design_required" type="checkbox">
                                    </div>
                                    <div class="input-wrapper text-field">
                                        <label>Descripción:</label>
                                        <textarea class="input-text message" name="contact_message" ></textarea>
                                    </div>
                                    <button type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header" onClick="openContent(this)">
                            <h2>Sitio Web Dinámico con CMS (Content Management System)</h2>
                        </div>
                        <div class="content">
                            <div class="max-width-480">
                                <form action="{% url 'thankyou-page' %}" method="post" class="form-wrapper validate-dynamic-web">
                                    {% csrf_token %}
                                    <input type="hidden" name="contact_type" value="Sitio Web Dinámico">
                                    <div class="input-wrapper">
                                        <label>Nombre:</label>
                                        <input class="input-text name" name="contact_name" type="text">
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Email:</label>
                                        <input class="input-text email" name="contact_email" type="text">
                                    </div>
                                    <div class="input-wrapper phone-field">
                                        <label>Teléfono:</label>
                                        <input class="input-text phone" name="contact_phone" type="text">
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Total de páginas:</label>
                                        <input class="input-text" name="contact_total_pages" type="number">
                                    </div>
                                    <div class="input-wrapper no-line">
                                        <label>Requiere diseño</label>
                                        <input class="input-checkbox" name="contact_design_required" type="checkbox">
                                    </div>
                                    <div class="input-wrapper text-field">
                                        <label>Descripción:</label>
                                        <textarea class="input-text message" name="contact_message" ></textarea>
                                    </div>
                                    <button type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header" onClick="openContent(this)">
                            <h2>SPA (Single Page Application)</h2>
                        </div>
                        <div class="content">
                            <div class="max-width-480">
                                <form action="{% url 'thankyou-page' %}" method="post" class="form-wrapper">
                                    {% csrf_token %}
                                    <input type="hidden" name="contact_type" value="SPA">
                                    <div class="input-wrapper">
                                        <label>Nombre:</label>
                                        <input class="input-text name" name="contact_name" type="text">
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Email:</label>
                                        <input class="input-text email" name="contact_email" type="text">
                                    </div>
                                    <div class="input-wrapper phone-field">
                                        <label>Teléfono:</label>
                                        <input class="input-text phone" name="contact_phone" type="text">
                                    </div>
                                    <div class="input-wrapper no-line">
                                        <label>Requiere diseño</label>
                                        <input class="input-checkbox" name="contact_design_required" type="checkbox">
                                    </div>
                                    <div class="input-wrapper text-field">
                                        <label>Descripción:</label>
                                        <textarea class="input-text message" name="contact_message" ></textarea>
                                    </div>
                                    <button type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header" onClick="openContent(this)">
                            <h2>Rediseño Web</h2>
                        </div>
                        <div class="content">
                            <div class="max-width-480">
                                <form action="{% url 'thankyou-page' %}" method="post" class="form-wrapper">
                                    {% csrf_token %}
                                    <input type="hidden" name="contact_type" value="Rediseño Web">
                                    <div class="input-wrapper">
                                        <label>Nombre:</label>
                                        <input class="input-text name" name="contact_name" type="text">
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Email:</label>
                                        <input class="input-text email" name="contact_email" type="text">
                                    </div>
                                    <div class="input-wrapper phone-field">
                                        <label>Teléfono:</label>
                                        <input class="input-text phone" name="contact_phone" type="text">
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Sitio Web:</label>
                                        <input class="input-text url" name="contact_website" type="text">
                                    </div>
                                    <div class="input-wrapper text-field">
                                        <label>Descripción:</label>
                                        <textarea class="input-text message" name="contact_message" ></textarea>
                                    </div>
                                    <button type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header" onClick="openContent(this)">
                            <h2>e-Commerce</h2>
                        </div>
                        <div class="content">
                            <div class="max-width-480">
                                <form action="{% url 'thankyou-page' %}" method="post" class="form-wrapper">
                                    {% csrf_token %}
                                    <input type="hidden" name="contact_type" value="e-Commerce">
                                    <div class="input-wrapper">
                                        <label>Nombre:</label>
                                        <input class="input-text name" name="contact_name" type="text">
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Email:</label>
                                        <input class="input-text email" name="contact_email" type="text">
                                    </div>
                                    <div class="input-wrapper phone-field">
                                        <label>Teléfono:</label>
                                        <input class="input-text phone" name="contact_phone" type="text">
                                    </div>
                                    <div class="input-wrapper no-line">
                                        <label>Requiere diseño</label>
                                        <input class="input-checkbox" name="contact_design_required" type="checkbox">
                                    </div>
                                    <div class="input-wrapper text-field">
                                        <label>Descripción:</label>
                                        <textarea class="input-text message" name="contact_message" ></textarea>
                                    </div>
                                    <button type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header" onClick="openContent(this)">
                            <h2>SEO (Search engine optimization)</h2>
                        </div>
                        <div class="content">
                            <div class="max-width-480">
                                <form action="{% url 'thankyou-page' %}" method="post" class="form-wrapper">
                                    {% csrf_token %}
                                    <input type="hidden" name="contact_type" value="SEO">
                                    <div class="input-wrapper">
                                        <label>Nombre:</label>
                                        <input class="input-text name" name="contact_name" type="text">
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Email:</label>
                                        <input class="input-text email" name="contact_email" type="text">
                                    </div>
                                    <div class="input-wrapper phone-field">
                                        <label>Teléfono:</label>
                                        <input class="input-text phone" name="contact_phone" type="text">
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Sitio Web:</label>
                                        <input class="input-text url" name="contact_website" type="text">
                                    </div>
                                    <div class="input-wrapper text-field">
                                        <label>Descripción:</label>
                                        <textarea class="input-text message" name="contact_message" ></textarea>
                                    </div>
                                    <button type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="decor-bottom over-footer">
            <svg class="decor background-fill-white" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0 L100 0 L100 100" stroke-width="0"></path>
            </svg>
        </div>
    </div>
{% endblock %}
