.header-wrapper {
    background-image: url(/static/img/blog-bkg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.archive-blog-wrapper {
    padding-top: 60px;
    padding-bottom: 0px;
}

.archive-blog-wrapper a {
    text-decoration: none;
}

.archive-blog-wrapper .decor-top {
    position: absolute;
}

.archive-blog-wrapper .item {
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
    margin: 10px 10px 20px 20px;
    max-width: 300px;
    overflow: hidden;
    position: relative;
}

.archive-blog-wrapper .item .image {
    max-width: 100%;
}

.archive-blog-wrapper .item .cover {
    background-color: white;
    bottom: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    left: 0;
    padding: 20px;
    position: relative;
    right: 0;
    transition-duration: 200ms;
    z-index: 1;
}

.archive-blog-wrapper .item:hover .cover {
    background-color: #24a9e1;
}

.archive-blog-wrapper .item:hover .cover h3 {
    color: white;
}

.archive-blog-wrapper .item:hover .cover p {
    color: white;
}

.archive-blog-wrapper .item .cover h3 {
    color: #888;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.archive-blog-wrapper .item .cover p {
    color: #888;
    font-size: 16px;
    line-height: 17px;
    margin-top: 20px;
    text-align: center;
}
