.header-wrapper {
    background-image: url(/static/img/blog-bkg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.default-wrapper {
    padding-bottom: 1px;
    padding-top: 60px;
}

.default-wrapper .decor-top {
    position: absolute;
}

.default-wrapper div p span {
    font-size: 18px !important;
}

.default-wrapper .center-text {
    text-align: center;
    font-size: 24px;
}

.default-wrapper .description {
    font-size: 16px;
    text-align: center;
    color: #333;
}
